<div class="col-sm-8 col-sm-push-2 container">
  <div class="custom-well text-center">
    <h1>Stuff!</h1>
    <h4><%= link_to('- Sign Out -', destroy_user_session_path, :method => :delete) %></h4>
  </div> <!-- custom-well -->
</div> <!-- container -->
