<div class="container">

  <h1 class="text-center">Edit Your Wiki</h1>

  <div class="custom-well col-sm-10 col-sm-push-1">
    <h3>Edit Wiki</h3>
    <%= render 'form' %>
  </div> <!-- custom well -->

</div> <!-- container -->
