<div class="container">
  <div class="custom-well col-sm-8 col-sm-push-2">
    <h1>Edit "<%= @wiki.title %>"</h1>
    <div class="container col-sm-12">

      <%= render 'form' %>

    </div> <!-- container -->
  </div> <!-- well -->
</div> <!-- container -->
